* {
    text-decoration: none;
}

.col-7.logoContainer {
    padding: 15px;
}

.col-5.profileContainer {
    padding: 15px;
    /* vertical-align: text-bottom; */
    text-align: right;
    /* color: black; */
}

a.logo {
    font-size: 40px;
    color: black;
}

a.logo:hover {
    text-decoration: none;
}

a.profileLink {
    color: black;
    text-decoration: underline;
    display: inline-block;
    padding: 0 10px;
}

.navContainer ul {
    width: 100%;
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: solid 1px gainsboro;
    border-radius: 4px;
}

.navContainer li {
    /* width: auto; */
    /* display: inline-block; */
    padding: 10px;
}

.navLink {
    color: black;
    font-size: 20px;
    
}

.navLink:hover {
    text-decoration: none;
    text-shadow: 0 0 5px black;
    color: black;
}

.home {
    margin-top: 40px;
}

ul.problemsListContainer {
    list-style: none;
    padding: 0;
}

.problemsListContainer li {
    border: solid 1px #d4d4d4;
    background: #eaeaea;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
}

a.problemName {
    color: black;
}

a.problemName:hover {
    text-decoration: none;
    text-shadow: 0 0 5px black;
}

form.submitFormContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.submittedContainer {
    margin-top: 40px;
}

.submittedList li {
    position: relative;
}

span.score {
    position: absolute;
    right: 10px;
    font-weight: bold;
}

.submittedList .full_100 {
    background-color: rgb(42, 229, 42);
}

.submittedList .full_70 {
    background-color: rgb(126, 145, 20);
}

.submittedList .full_50 {
    background-color: rgb(246, 246, 23);
}

.submittedList .full_0 {
    background-color: rgb(251, 44, 44);
}

td.full_100 {
    background-color: rgb(42, 229, 42);
}

td.full_70 {
    background-color: rgb(126, 145, 20);
}

td.full_50 {
    background-color: rgb(246, 246, 23);
}

td.full_0 {
    background-color: rgb(251, 44, 44);
}

.messageContainer.everyone {
    overflow: hidden;
    max-width: 80%;
    margin-bottom: 20px;
    /* float: left; */
}

.everyone {
    float: left;
}

.mine {
    float: right;
}

.avaContainer {
    width: 40px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
}

img.avatar {
    width: 100%;
}

.message {
    overflow: hidden;
}

.messageContent {
    width: auto;
    max-width: calc(100% - 60px);
    float: left;
    padding: 5px 10px;
    background-color: #dddddd;
    margin-left: 20px;
    border-radius: 5px;
}

.mine .messageContent {
    background-color: #96cbe4;
}

.chatContainer {
    padding: 20px;
    border-radius: 5px;
    border: solid 1px black;
    max-height: 500px;
    overflow: auto;
}

form.messageForm {
    margin-top: 20px;
    overflow: hidden;
}

input.messageInput {
    width: calc(100% - 100px);
    float: left;
}

input.messageSubmit {
    width: 100px;
    float: left;
}

.rankContainer {
    width: 100%;
    overflow-x: auto;
}

th.rank {
    width: 100px;
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 100px;
    text-align: center;
    padding: 0 10px;
  }

  .image {
    width: 50%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
}
