<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://codemirror.net/5/lib/codemirror.js"></script>
    <script src="https://codemirror.net/5/addon/edit/closetag.js"></script>
    <link rel="stylesheet" href="https://codemirror.net/5/lib/codemirror.css">
    <link rel="stylesheet" href="https://codemirror.net/5/theme/dracula.css">
    <title>Themis</title>
</head>
<body>
    <div class="container">
        <div class="row navbarContainer">
            <div class="col-7 logoContainer">
                <a href="#" class="logo">THEMIS</a>
            </div>
            <div class="col-5 profileContainer">
                <a href="#" class="profileLink"><%= fullname %></a>
                <a href="#" class="profileLink">logout</a>
            </div>
        </div>
        <div class="row navContainer">
            <ul>
                <li>
                    <a href="#" class="navLink"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li>
                    <a href="#" class="navLink"><i class="fa-solid fa-comment"></i> Chat</a>
                </li>
                <li>
                    <a href="#" class="navLink"><i class="fa-solid fa-ranking-star"></i> Rank</a>
                </li>
                <li>
                    <a href="#" class="navLink"><i class="fa-solid fa-star"></i> Contest</a>
                </li>
            </ul>
        </div>
      </div>

      <!-- Home -->
      <div class="container home">
            <div class="row">
                <div class="col-md-7">
                    <h2>Problems</h2>
                    <ul class="problemsListContainer">
                        <li>
                            <a href="#" class="problemName">Problem 1 --- 13/7/2022</a>
                        </li>
                        <li>
                            <a href="#" class="problemName">Problem 1 --- 13/7/2022</a>
                        </li>
                        <li>
                            <a href="#" class="problemName">Problem 1 --- 13/7/2022</a>
                        </li>
                        <li>
                            <a href="#" class="problemName">Problem 1 --- 13/7/2022</a>
                        </li>
                    </ul>

                    <h2>Tests</h2>
                    <ul class="problemsListContainer">
                        <li>
                            <a href="#" class="problemName">Problem 1 --- 13/7/2022</a>
                        </li>
                        <li>
                            <a href="#" class="problemName">Problem 1 --- 13/7/2022</a>
                        </li>
                        <li>
                            <a href="#" class="problemName">Problem 1 --- 13/7/2022</a>
                        </li>
                        <li>
                            <a href="#" class="problemName">Problem 1 --- 13/7/2022</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h2>Submit</h2>
                    <div class="submitContainer">
                        <div class="codeEditContainer">
                            <textarea name="codeEdit" id="codeEdit" class="codeEdit"></textarea>
                            <form action="" class="submitFormContainer">
                                <input type="file">
                                <select name="cars" id="problem">
                                    <option value="123">Problem 1</option>
                                    <option value="123">Problem 1</option>
                                    <option value="123">Problem 1</option>
                                    <option value="123">Problem 1</option>
                                    <option value="123">Problem 1</option>
                                  </select>
                                <input type="submit">
                            </form>
                        </div> 
                        <div class="submittedContainer">
                            <h4>Submitted</h4>
                            <ul class="problemsListContainer submittedList">
                                <li class="full_100">
                                    Problem 1
                                    <span class="score">100</span>
                                </li>
                                <li class="full_0">
                                    Problem 2
                                    <span class="score">0</span>
                                </li>
                                <li class="full_70">
                                    Problem 3
                                    <span class="score">70</span>
                                </li>
                                <li class="full_50">
                                    Problem 4
                                    <span class="score">50</span>
                                </li>
                            </ul>
                        </div>                       
                    </div>
                </div>
            </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script>
        myTextarea = $('.codeEdit')[0]

        var editor = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            theme: 'dracula',
            autoCloseTags: true
        });
    </script>
</body>
</html>l