<%- include('include/_header') %>

      <div class="container">
        <h1>Ranking</h1>
      <div class="rankContainer">
        <table>
          <!-- <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Sum</th>
            <th>Problem1</th>
            <th>Problem1</th>
            <th>Problem1</th>
            <th>Problem1</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td class="full_100">50</td>
            <td class="full_70">50</td>
            <td class="full_0">50</td>
            <td class="full_0">50</td>
            <td class="full_50">50</td>
            <td class="full_70">50</td>
            <td class="full_100">50</td>
            <td class="full_100">50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
          </tr> -->
          <tbody>
            
          </tbody>
        </table>
      </div>
      </div>

      <%- include('include/_footer') %>
      <script src="js/rank.js"></script>
    </body>
</html>